body{
    background: url("./components/assets/Background.jpg") fixed center no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    height: 100%;
}

.TitleImage{
    display: flex;
    justify-content: center;
}

.SearchBar{
    display: flex!important;
    margin-right: 1vw;
}

    .caja{
        display: flex;
        justify-content: center;
        color: black;
        height: auto;
        width: 100vw;
        margin: 5px;
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 60%;
            background-color: #ffffff;
            opacity: 0.9;
            border-radius: 1%;
            .card {
                flex: 0 0 200px;
                margin: 10px;
                border: 1px solid #ccc;
                box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
                opacity: 1 !important;

                .imageProduct {
                    max-width: 100%;
                    -webkit-transition: 0.4s ease;
                    transition: 0.4s ease;

                }

                .imageProduct:hover{
                    -webkit-transform: scale(1.03);
                    transform: scale(1.03);
                }

                .text{
                    padding: 0 20px 20px;
                    button{
                        background: rgb(158, 158, 158);
                        border: 0;
                        color: white;
                        padding: 10px;
                        width: 100%;

                    }
                    button:hover{
                        background: rgb(105, 105, 105);
                    }
                }
            }
        }
        
        }

.Navbar{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    .NavButton{
        margin-right: 5px;
    }
}

.Form{
    background-color: rgb(1, 49, 66);
    color: white;
    border: 10px solid rgb(1, 49, 66);
    box-shadow: 5px 5px 30px rgb(224, 223, 223);
    margin: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    margin-top: 1vw;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 2rem;
}

.Title{
    display: flex;
    justify-content: center;
    margin-top: 1vw;   
}

.FAQ{

    .AccordionFAQ{
    margin-top: 1vw;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 2rem;
    }
}

.AboutUsBox{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    margin: 5px;
   .AboutUs{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        width: 60%;

        .eachOneOfUs{
            flex: 0 0 140px;
            margin: 0px;
            text-align: center;

        .photo{
            width: 12vw;
            height: 12vw;
            border-radius: 100%;
            border: 2px solid rgb(0, 0, 0);
        }
    }
} 
}


.FooterStyles{

    font-family: Open Sans;
    height: auto !important;
    min-height: 100%;
      
      section {
        width: 100%;
        display: inline-block;
        background: #333;
        height: 50vh;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        text-decoration: underline;
      }
      
      .footer-distributed{
          background: rgb(2, 82, 111);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-sizing: border-box;
          width: 100%;
          text-align: left;
          font: bold 16px sans-serif;
          padding: 55px 50px;
      }
      
      .footer-distributed 
      {
        .footer-left, .footer-center, .footer-right{
          display: inline-block;
          vertical-align: top;
        }
      }
      
      /* Footer left */
      
      .footer-distributed .footer-left{
          width: 40%;
      }
      
      /* The company logo */
      
      .footer-distributed h3{
          color:  #ffffff;
          font: normal 36px 'Open Sans', cursive;
          margin: 0;
      }
      
      .footer-distributed h3 span{
          color:  lightseagreen;
      }
      
      /* Footer links */
      
      .footer-distributed .footer-links{
          color:  #ffffff;
          margin: 20px 0 12px;
          padding: 0;
      }
      
      .footer-distributed .footer-links a{
          display:inline-block;
          line-height: 1.8;
          font-weight:400;
          text-decoration: none;
          color:  inherit;
      }
      
      .footer-distributed .footer-company-name{
          color:  rgb(255, 255, 255);
          font-size: 14px;
          font-weight: normal;
          margin: 0;
      }
      
      /* Footer Center */
      
      .footer-distributed .footer-center{
          width: 35%;
      }
      
      .footer-distributed .footer-center i{
          color: #ffffff;
          font-size: 25px;
          width: 38px;
          height: 38px;
          border-radius: 50%;
          text-align: center;
          line-height: 42px;
          margin: 10px 15px;
          vertical-align: middle;
      }
      
      .footer-distributed .footer-center i.fa-envelope{
          font-size: 17px;
          line-height: 38px;
      }
      
      .footer-distributed .footer-center p{
          display: inline-block;
          color: #ffffff;
        font-weight:400;
          vertical-align: middle;
          margin:0;
      }
      
      .footer-distributed .footer-center p span{
          display:block;
          font-weight: normal;
          font-size:14px;
          line-height:2;
      }
      
      .footer-distributed .footer-center p a{
          color:  lightseagreen;
          text-decoration: none;;
      }
      
      .footer-distributed .footer-links a:before {
        content: "|";
        font-weight:300;
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
      }
      
      .footer-distributed .footer-links .link-1:before {
        content: none;
      }
      
      /* Footer Right */
      
      .footer-distributed .footer-right{
          width: 20%;
      }
      
      .footer-distributed .footer-company-about{
          line-height: 20px;
          color:  #92999f;
          font-size: 13px;
          font-weight: normal;
          margin: 0;
      }
      
      .footer-distributed .footer-company-about span{
          display: block;
          color:  #ffffff;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 20px;
      }
      
      .footer-distributed .footer-icons{
          margin-top: 25px;
      }
      
      .footer-distributed .footer-icons a{
          display: inline-block;
          width: 35px;
          height: 35px;
          cursor: pointer;
          background-color:  #33383b;
          border-radius: 2px;
      
          font-size: 20px;
          color: #ffffff;
          text-align: center;
          line-height: 35px;
      
          margin-right: 3px;
          margin-bottom: 5px;
      }
      
      /* If you don't want the footer to be responsive, remove these media queries */
      
      @media (max-width: 880px) {
      
          .footer-distributed{
              font: bold 14px sans-serif;
          }
      
          .footer-distributed .footer-left,
          .footer-distributed .footer-center,
          .footer-distributed .footer-right{
              display: block;
              width: 100%;
              margin-bottom: 40px;
              text-align: center;
          }
      
          .footer-distributed .footer-center i{
              margin-left: 0;
          }
      
      }
}